.idea/
/app/cache/*
/app/log/*

junit.xml
clover.xml
symfony.lock

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
