swagger: "2.0"
info:
  version: "1.0"
  title: ESPRIT WishListService REST API
  contact:
    name: Team OPC (Order Payment Carrier)
    email: A-SCM-CP-IT-ESP-SCRUM7-OPC@Arvato.com
    url: http://www.arvato.com
host: www.esprit.de
basePath: /services/wishlistservice
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

# Reusable parameters
parameters:
  isoCode:
    name: isoCode
    type: string
    required: true
    description: language depended isoCode
    x-example: 'de-DE'
    in: path
  wishListId:
    name: wishListId
    type: string
    required: true
    description: wishlist id
    x-example: '4D9D-80C7-02AF85C822A8'
    in: path
  anonymousWishListId:
    name: anonymousWishListId
    type: string
    required: true
    description: anonymous_wishl_list_id
    x-example: '4D9D-80C7-02AF85C822A8'
    in: query
  fat:
    name: fat
    type: string
    required: true
    description: return more articles information if 'true'
    x-example: 'true'
    in: query
  ean:
    name: ean
    type: integer
    required: true
    description: ean
    x-example: '9783161484100'
    in: path
  eans:
    name: eans
    type: array
    items:
      type: integer
    required: true
    description: eans as json array
    x-example: '9783161484100'
    in: query

# API Paths
paths:
  /_health:
    get:
      description: HealthCheck for all API's the wishlist service consumes
      responses:
        200:
          description: all healthchecks were successful
          schema:
            $ref: '#/definitions/HealthcheckReponse'
        500:
          description: one or more healthchecks failed
          schema:
            $ref: '#/definitions/HealthcheckReponse'

  /config/{isoCode}:
    get:
      description: load the config
      parameters:
        - $ref: '#/parameters/isoCode'
      responses:
        200:
          description: loading config was successful
          schema:
            $ref: '#/definitions/ConfigResponse'
        400:
          description: wrong iso-code (locale)
          schema:
            $ref: '#/definitions/ConfigResponse'
        415:
          description: wrong content type
          schema:
            $ref: '#/definitions/ConfigResponse'
        500:
          description: Internal Server Error / PHP Error
          schema:
            $ref: '#/definitions/ConfigResponse'

  /translations/{isoCode}:
    get:
      description: load the translations
      parameters:
        - $ref: '#/parameters/isoCode'
      responses:
        200:
          description: loading translation was successful
          schema:
            $ref: '#/definitions/TranslationResponse'
        415:
          description: wrong content type
          schema:
            $ref: '#/definitions/TranslationResponse'
        400:
          description: wrong iso-code (locale)
          schema:
            $ref: '#/definitions/TranslationResponse'
        500:
          description: Internal Server Error / PHP Error
          schema:
            $ref: '#/definitions/TranslationResponse'

  /{wishListId}:
    get:
      description: load the wishlist
      parameters:
        - $ref: '#/parameters/wishListId'
        - $ref: '#/parameters/fat'
        - $ref: '#/parameters/isoCode'
      responses:
        200:
          description: loading wishlist was successful
          schema:
            $ref: '#/definitions/GetWishlistResponse'
        400:
          description: wrong wishListId
          schema:
            $ref: '#/definitions/GetWishlistResponse'
        415:
          description: wrong content type
          schema:
            $ref: '#/definitions/GetWishlistResponse'
        500:
          description: Internal Server Error  / PHP Error
          schema:
            $ref: '#/definitions/GetWishlistResponse'

  /{wishListId}/item:
    post:
      description: add item to wishlist
      parameters:
        - $ref: '#/parameters/wishListId'
        - $ref: '#/parameters/eans'
        - $ref: '#/parameters/isoCode'
      responses:
        200:
          description: loading wishlist was successful
          schema:
            $ref: '#/definitions/AddWishlistResponse'
        400:
          description: wrong wishlistId
          schema:
            $ref: '#/definitions/AddWishlistResponse'
        415:
          description: wrong content type
          schema:
            $ref: '#/definitions/AddWishlistResponse'
        500:
          description: Internal Server Error  / PHP Error
          schema:
            $ref: '#/definitions/AddWishlistResponse'

  /{wishListId}/item/{ean}:
    delete:
      description: delete item from wishlist
      parameters:
        - $ref: '#/parameters/wishListId'
        - $ref: '#/parameters/ean'
        - $ref: '#/parameters/isoCode'
      responses:
        200:
          description: loading wishlist was successful
          schema:
            $ref: '#/definitions/DeleteWishlistResponse'
        400:
          description: wrong wishlistId
          schema:
            $ref: '#/definitions/DeleteWishlistResponse'
        415:
          description: wrong content type
          schema:
            $ref: '#/definitions/DeleteWishlistResponse'
        500:
          description: Internal Server Error  / PHP Error
          schema:
            $ref: '#/definitions/DeleteWishlistResponse'

  /merge/{isoCode}:
    post:
      description: merge two wishlist to one
      parameters:
        - $ref: '#/parameters/isoCode'
        - $ref: '#/parameters/wishListId'
        - $ref: '#/parameters/anonymousWishListId'
      responses:
        200:
          description: merging wishlists was successful
          schema:
            $ref: '#/definitions/MergeWishlistResponse'
        400:
          description: wrong wishlistId or anonymousWishListId
          schema:
            $ref: '#/definitions/MergeWishlistResponse'
        415:
          description: wrong content type
          schema:
            $ref: '#/definitions/MergeWishlistResponse'
        500:
          description: Internal Server Error  / PHP Error
          schema:
            $ref: '#/definitions/MergeWishlistResponse'

definitions:
  HealthcheckStatus:
    type: object
    properties:
      isAlive:
        type: boolean
        description: indicator for the tested subject being alive
      level:
        type: integer
        description: current RFC5424 log level of this entry
      message:
        type: string
        description: additional messages for information about the subject
      info:
        type: string
        description: information about the subject. e.g. ports or url

  HealthcheckReponse:
    type: object
    properties:
      status:
        type: object
        items:
          $ref: '#/definitions/HealthcheckStatus'
      errors:
        type: array
        items:
          type: object
          properties:
            level:
              type: integer
              description: current RFC5424 log level of this entry
            messages:
              type: array
              items:
                type: string
              description: messages for each failed healthcheck subject
      version:
        type: string
        description: Productversion and buildnumber of deployment
        x-example: 63-b520
    required:
      - status
      - errors
      - version

  TranslationResponse:
    type: object
    properties:
      translations:
        type: object
      message:
        type: string
      code:
        type: number
        description:
          |
          | Code | Description
          +------+------------
          |   1  | Success
          | -10  | Translation loading error

  ConfigResponse:
    type: object
    properties:
      config:
        type: object
      message:
        type: string
      code:
        type: number
        description:
          |
          | Code | Description
          +------+------------
          |   1  | Success
          | -11  | Config loading error

  GetWishlistResponse:
    type: object
    properties:
      wishlist:
        $ref: '#/definitions/Wishlist'
      message:
        type: string
      code:
        type: number
        description:
          |
          | Code | Description
          +------+------------
          |   1  | Success

  AddWishlistResponse:
    type: object
    properties:
      message:
        type: string
      code:
        type: number
        description:
          |
          | Code | Description
          +------+------------
          |   1  | Success

  DeleteWishlistResponse:
    type: object
    properties:
      message:
        type: string
      code:
        type: number
        description:
          |
          | Code | Description
          +------+------------
          |   1  | Success
          |  -1  | Invalid EAN

  MergeWishlistResponse:
    type: object
    properties:
      message:
        type: string
      code:
        type: number
        description:
          |
          | Code | Description
          +------+------------
          |   1  | Success
          |  -1  | Invalid EAN
          |  -3  | Invalid WishlistId or AnonymousWishListId

  Wishlist:
    type: object
    properties:
      wishListId:
        type: string
      items:
        $ref: '#/definitions/Item'

  Item:
    type: object
    properties:
      ean:
        type: string
      timestampOfInsert:
        type: integer
      style:
        $ref: '#/definitions/Style'

  Style:
    type: array
    items:
      type: array
      items:
        type: string
        uniqueItems: true
